h1,h2,h3,h4,h5,h6{
    font-family: 'Baloo 2', cursive;
}
p,a,input,label,textarea, span, ul, li{
    font-family: 'Raleway', sans-serif;
}

#intro .jumbotron{
    height:60vh;
    margin-bottom: 0px;
}

#intro h1{
    font-size: 55px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}

#intro p{
    font-weight: 200;
    line-height: 1.5;
    font-size: 20px;
    color: #707070;
    text-align: center;
}

#joinBtn{
    border-radius: 20px;
    height: 40px;
    width: 140px;
    text-align: center;
    margin: 0 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #707070;
}

#joinBtn:hover{
    color: black;
    background: linear-gradient(-350deg,rgb(240, 245, 255),rgb(166, 196, 255));
}

#signIn{
    border-radius: 20px;
    height: 40px;
    width: 140px;
    text-align: center;
    margin: 0 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #707070;
}

#signIn:hover{
    color: black;
    background: linear-gradient(-350deg,rgb(244, 235, 255),rgb(205, 163, 255));
}

#intro .container{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header li{
    margin: 0px 35px;
}

header img{
    width: 200px;
}

header .nav-item{
    font-size: 25px;
    font-weight: 500;
}

#Features{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(img/photography.jpeg);
    background-size: cover;
    background-position: center;
    padding: 80px 0px;
}

#Features h1{
    color: white;
    font-size: 80px;
}
#Features .outer{
    position: relative;
    background: whitesmoke;
    height: 300px;
    border-radius: 20px;
    padding: 10px;
    z-index: 10;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.8);
    
}

#Features .pointForm{
    list-style-type: disc;
    margin-bottom: 80px;
    font-size: 20px;
    color: #707070;
}

#Features h3{
    font-weight: 200;
    line-height: 1.5;
    font-size: 30px;
}

#Features p{
    font-weight: 200;
    line-height: 1.5;
    font-size: 20px;
    color: #707070;
}

#Features img{
    max-width: 100%;
    height: 85px;
    margin-bottom: 20px;
}

footer{
    border-top: solid 1px;
    padding: 50px 0px;
}

footer img{
    width: 237px;
    height: 50px;
    margin-bottom: 26px;
    float: left;
}

footer p{
    font-weight: 200;
    line-height: 1.5;
    font-size: 20px;
    color: #707070;
}

footer a{
    color: red;
}

.carousel-caption p{
    font-family: 'Baloo 2', cursive;
    font-size: 50px;
    top: 50%;
    bottom: auto;
    color: black;
}

.carousel-inner{
    font-weight: bold;
}

#mainContent img{
    max-width: 100%;
    height: 500px;
    margin-bottom: 20px;
}

#mainContent p{
    font-family: 'Baloo 2', cursive;
}

.inner {
    padding: 20px 30px;
}

.about_font ul li{
    font-family: 'Baloo 2', cursive;
    text-align: justify;
}

.about_font{
    font-family: 'Baloo 2', cursive;
    text-align: justify;
}

.border{
    display: block;
    margin: auto;
    width: 180px;
    height: 4px;
    background: #1aa3ff;
    margin-bottom: 40px;
}

.style_font ul li{
    font-family: 'Baloo 2', cursive;
}

.style_font ol li{
    font-family: 'Baloo1 2', cursive;
}

