.loginbox{
    width: 400px;
    height: 570px;
    background: #fff;
    color: #000080;
    top: 62%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px 30px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"],input[type="password"]{
    border: none;
    border-bottom: 1px solid #000099;
    background: transparent;
    outline: none;
    height: 30px;
    color: #404040;
    font-size: 16px;
}
.loginbox button[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    width: 338px;
    background: #668cff;
    color: #fff;
    font-size: 14px;
    border-radius: 20px; 
}

.loginbox button[type="submit"]:hover{
    cursor:pointer;
    background: white;
    color: #000;
    border: 2px solid #668cff;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.loginbox a:hover{
    color: #668cff;
}

.loginbox td
{
    line-height: 20px;
}

p.wrong{
    color: red;
}

p.success{
    color: green;
}
